# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# Virtual Environment (Very Important!)
env/
venv/
.env

# OS junk
.DS_Storedb.sqlite3

# ... existing ignores ...

# Celery Beat Schedule and PID files
celerybeat-schedule
celerybeat-schedule.db
celerybeat-schedule.dat
celerybeat-schedule.bak
celerybeat.pid